body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px 1%;

  .wrapper {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .list-note {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .list-note__item {
      background-color: rgb(87, 247, 87);
    }
    .add-note {
      position: sticky;
      background-color: #fff;
      bottom: 15px;
    }

    .add-note,
    .list-note__item {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      overflow: hidden;
      padding: 3px;
      gap: 3px;
      border: 3px solid #000;
      border-radius: 55px;

      .add-note__write {
        width: 50%;
        margin-left: 3%;
        border: none;
        font-size: 3rem;
        flex-grow: 1;
      }

      .add-note__write:focus {
        outline: none;
        outline-offset: none;
      }
    }
    .list-note__text,
    .list-note__input {
      width: 80%;
      margin: 0 1%;
      display: flex;
      align-items: center;
      flex-grow: 1;
      font-size: 3.5rem;
    }
    .list-note__input {
      color: #000;
      border: none;
    }

    .list-note__text {
      color: #635994;
    }

    .list-note__text:hover {
      animation: text 5s infinite linear;
    }

    @keyframes text {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-100%, 0);
      }
    }

    .list-note__input:focus {
      outline: none;
      outline-offset: none;
    }
    .add-note__btn-add,
    .list-note__btn-del,
    .list-note__btn-edit {
      width: 100px;
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 3px solid #000;
      background-color: lightgray;
      transition: 0.8s all;
      font-size: 3.5rem;
      line-height: 3.5rem;
      z-index: 1;
    }

    .add-note__btn-add:hover,
    .list-note__btn-del:hover,
    .list-note__btn-edit:hover {
      cursor: pointer;
    }

    .add-note__btn-add:active,
    .list-note__btn-del:active,
    .list-note__btn-edit:active {
      transform: scale(0.9);
      transition: 0.2s all;
    }
  }
}