body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 1%;

  .wrapper {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .list-note {
      margin-bottom: 121px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .list-note__item {
      background-color: rgb(87, 247, 87);
    }
    .add-note {
      display: flex;
      position: sticky;
      background-color: #fff;
      bottom: 10px;
    }

    .list-note__item {
      display: flex;
      // display: none;
    }

    .add-note,
    .list-note__item {
      flex-direction: row;
      justify-content: space-between;
      padding: 3px;
      gap: 3px;
      border: 3px solid #000;
      border-radius: 55px;

      .add-note__write {
        width: 50%;
        margin-left: 2%;
        border: none;
        border-radius: 55px;
        font-size: 3rem;
        flex-grow: 1;
      }

      .add-note__write:focus {
        outline: none;
        outline-offset: none;
      }
    }
  }
  .btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #000;
    background-color: lightgray;
    transition: 0.8s all;
    font-size: 3rem;
    line-height: 3rem;
  }
  .btn:hover {
    cursor: pointer;
  }

  .btn:active {
    transform: scale(0.9);
    transition: 0.2s all;
  }
  #save-note {
    display: none;
  }
}
